#Mysql Dockerfile: COPY	my.cnf /etc/my.cnf
#my.cnf is a configuration file used by the Unix-like MySQL engine.
[mysqld]
user = root
datadir = /var/lib/mysql #Data directory setting (this path is the PV mount path)
port = 3306
log-bin = /var/lib/mysql/mysql-bin #The bin log is a file that records all changes occurring in the server.
bind-address = 0.0.0.0
skip-networking = false
#bind-address: Indicates the IP band that can access the daemon.
#If you need to connect the DB from the remote, you need to change the starting IP to 0.0.0.0.
#skip-networking: When this directive is activated, only sock files are communicated.
#Here, it is set to false.
