# This is the sshd server system-wide configuration file.
# See sshd_config(5) for more information.

# This sshd was compiled with PATH=/bin:/usr/bin:/sbin:/usr/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented. Uncommented options override the
# default value.

Port 22
#The SSH service port is set to 22, but it can be changed to any port for security.
#Change the port number you want and change the ssh port value in the /etc/services file.

HostKey /etc/ssh/ssh_host_rsa_key

PermitRootLogin yes

#Turning on PubkeyAuthentication and turning off PasswordAuthentication makes
#authentication much more secure as only public key authentication is done.
PasswordAuthentication yes
#PasswordAuthentication If yes, allow password authentication.

Subsystem sftp /usr/lib/ssh/sftp-server
#It allows you to use SFTP as well as SSH.
#Comment out if you are not going to use the SFTP feature.
